/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
:root {
  --main-color: rgb(114 34 203);
}

@font-face {
  font-family: 'Silkscreen'; /*a name to be used later*/
  src: url('fonts/Silkscreen/slkscr.ttf'); /*URL to font*/
}

* {
  font-family: Silkscreen;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

body {
  margin: 0;
  padding: 0;
}

.body-background {
  background-image: url("img/background-hq.png");
  background-size: 110px;
  background-position: center;
}

.banner-background {
  width: 100%;
  height: 250px;
  background-image: url("img/banner-blue.png");
  background-size: 2000px;

  background-position: center;
  animation: infinite 300s animation;
  transition: animation;

  border-bottom: 4px dashed #222222;
}

.banner-background-shadow {
  width: 100%;
  height: 250px;


  position: relative;
  top: -250px;

  background-image: url("img/banner-blue.png");
  background-size: 2000px;

  filter: blur(202px);
  background-position: center;
  animation: infinite 300s animation;
  transition: animation;
}

@keyframes animation {
  0% {
    background-position-x: 100px;
    background-position-y: 100px;
  }
  100% {
    background-position-x: 10000px;
    background-position-y: 10000px;
  }
}

.index-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: -500px;
}


.container-left {
  z-index: 1;
  height: 400px;

}
.container-right{
  z-index: 1;

  height: 400px;

}

.header {
  font-size: larger;

  overflow: hidden;

  width: 630px;
  justify-self: center;

  margin-top: 100px;

  height: 210px;

  text-align: center;
  color: #b3d4fc;

  background-image: url("img/empty-background.png");
  background-size: 400px;
  background-position: center;
  box-shadow:  0 0 32px 0 rgba(0, 0, 0, 0.53);

  border: 4px dashed rgba(128, 128, 128, 0.12);
  z-index: 2;
}

.information {
  overflow: hidden;

  width: 630px;
  justify-self: center;

  margin-top: 30px;

  height: 40px;
  text-align: center;
  font-size: larger;
  color: #b3d4fc;

  background-image: url("img/empty-background.png");
  background-size: 400px;
  background-position: center;
  box-shadow:  0 0 32px 0 rgba(0, 0, 0, 0.53);

  border: 4px dashed rgba(128, 128, 128, 0.12);
  z-index: 1;
}

.links {
  overflow: hidden;

  width: 630px;
  justify-self: center;

  margin-top: 15px;

  height: 40px;
  text-align: center;
  font-size: larger;
  color: #b3d4fc;

  background-image: url("img/empty-background.png");
  background-size: 400px;
  background-position: center;
  box-shadow:  0 0 32px 0 rgba(0, 0, 0, 0.53);

  border: 4px dashed rgba(128, 128, 128, 0.12);
  z-index: 1;
}


.information-select {
  padding: 5px;
  border: 1px solid rgba(0,0,0,0);
  cursor: pointer;
}

.links-select {
  padding: 5px;
  border: 1px solid rgba(0,0,0,0);
  cursor: pointer;
}

.link {
  list-style: none;
  float: left;
  width: auto;
  padding: 5px;

  margin: 10px;
}

.links-content {
  justify-items: center;
  padding: 10px;
}

.youtube {
  background: #932828;
  border-bottom: 4px solid #4d1919;
  color: #fdd6d6;
}

.github{
  background: #284693;
  border-bottom: 4px solid #19254d;
  color: #d6e4fd;
}

.soundcloud {
  background: #934d28;
  border-bottom: 4px solid #4d3319;
  color: #fdead6;
}
.discord {
  background: #285693;
  border-bottom: 4px solid #19314d;
  color: #d6dffd;
}


.information-content {
  padding: 10px;
}

.information-select:hover, .links-select:hover {
  border: 1px solid #b3d4fc;
}

.information-list-button, .links-list-button {
  float: left;
}

.information-title {
  position: relative;
  left: -170px;
}

 .links-title {
  position: relative;
  left: -195px;
}

.information-select:hover .information-title {
  text-decoration: underline;
}

.links-select:hover .links-title {
  text-decoration: underline;
}

.left-content {
  width: 45%;
  padding: 5px;
  float: left;
  height: auto;
  margin-right: 5%;
  background: #1F1F1F;
  border-bottom: 4px solid #1C1C1C;
}

.right-content {
  width: 45%;
  padding: 5px;
  float: left;
  height: auto;
  background: #1F1F1F;
  border-bottom: 4px solid #1C1C1C;
}

.bottom-content {
  width: 97%;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  height: auto;
  background: #1F1F1F;
  border-bottom: 4px solid #1C1C1C;
}

.section-up {
  font-size: larger;

  float: left;

  width: 800px;

  margin-top: 100px;
  margin-left: 30px;

  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;

  color: #b3d4fc;
  background-image: url("img/empty-background.png");

  background-position: center;
  box-shadow:  0 0 32px 0 rgba(0, 0, 0, 0.5);

  border: 4px dashed rgba(128, 128, 128, 0.12);

  height: 700px;
  text-align: center;
  background-size: 400px;
}

.main-header {
  padding: 25px;
  height: 25px;
}

.main-header-title {
  float: left;
  color: rgba(128, 128, 128, 0.12);
}

.main-info {
  border: 4px dashed rgba(128, 128, 128, 0.12);
  float: right;

}

.main-info a {
  border: 1px solid rgba(0,0,0,0);
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 3px;
  padding-top: 3px;
  text-align: center;
}

.main-info a:hover {
  border: 1px solid #b3d4fc;
text-decoration: underline;
}
.code-window {
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 5px;
  background: #1F1F1F;
  border-bottom: 4px solid #1C1C1C;
  height: auto;
  text-align: left;
  font-size: small;
}

.output-code {
  text-align: left;
  font-size: small;
  padding: 5px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.main-title {
  color: rgba(128, 128, 128, 0.12);
  padding: 25px;
  float: left;
}

.main-description {
}

.image-section {
  clear: both;
}

.header-buttons {
  height: 100px;
  display: grid;
  justify-content: center;
}

.header-description {
  margin: 25px;
  display: grid;
  justify-content: center;
  position: relative;
}
.icon-download {
  padding-top: 10px;
}

.game-infos {
  font-size: 17px;
  color: #407c8d;
}

.button-download {
  border: 0;
  background-color: #407c8d;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  border-bottom: 4px solid #2d5866;
  font-size: larger;
  top: 0;
  color: black;
  cursor: pointer;
  margin-top: 5px;
}

.button-download:hover {
  background-color: #58aac2;
  color: #ffffff;
  box-shadow: 0 0 16px 0 #58aac2;
}

.button-download:focus {
  background-color: #58aac2;
  border-bottom: 0 solid #2d5866;
  color: #1a343a;
}

.footer-fixed {
  width: 100%;
  text-align: center;
  position: fixed;
  background-image: url("img/empty-background.png");
  background-position: center;
  color: #b3d4fc;
  bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 10;
  box-shadow: 0 0 16px 0 rgba(0,0,0,0.3);
  border-top: 4px dashed rgba(128, 128, 128, 0.12);
}

.logo-window {
  padding: 25px;
  width: 150px;
  height: auto;
  position: absolute;
  float: left;
  background-image: url("img/empty-background.png");
  background-position: center;
  border: 4px dashed rgba(128, 128, 128, 0.12);
  box-shadow: 0 0 16px 0 rgba(0,0,0,0.3);
  bottom: 25px;
  left: 20px;
  text-align: center;
}

.banner-title {
  text-align: center;
  color: white;
  padding-top: 25px;
  padding-bottom: 50px;
  font-size: 300%;
}

.download-section {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.72);
  position: absolute;

  z-index: 1000;
}

.download-window {
  position: fixed;
  padding: 25px;

  width: auto;
  height: auto;

  justify-self: center;
  top: 25%;
  text-align: center;

  color: #b3d4fc;

  background-image: url("img/empty-background.png");
  background-position: center;
  border: 4px dashed rgba(128, 128, 128, 0.12);
  box-shadow: 0 0 16px 0 rgba(0,0,0,0.3);

}

.close-download-window {

  width: 14px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 2px;
  padding-top: 3px;
  margin-right: 10px;
  text-align: center;

  position: relative;
  background-image: url("img/empty-background.png");
  background-position: center;
  border: 4px dashed rgba(128, 128, 128, 0.12);
}

.close-download-window:hover {
  filter: sepia(100%);
}

/* ==========================================================================
   <span> color classes and texts
   ========================================================================== */
pre {margin: 0;}
.cpp_code {margin: 0;}
.cpp_code .include {color: #009dff;}
.cpp_code .lib_type {color: #D0464AFF}
.cpp_code .var-int {color: #009DFFFF}
.cpp_code .function {color: #B08D4DFF}
.cpp_code .type {color: #B3D4FC}
.cpp_code .operators {color: #A5A5BC}
.cpp_code .str-value {color: #328436}
.cpp_code .newline {color: #009DFFFF}

.debian_terminal .user {color: #2b9363}
.debian_terminal .monkey {color: #2b9363}
.debian_terminal .server {color: #2b9363}
.debian_terminal .directory {color: #1d5da6}
.debian_terminal .dollar{color: #c3d2cd}
.debian_terminal .text{color: #c3d2cd}
.debian_terminal .text-animation-input{
  color: #c3d2cd;
  animation: infinite none 1s text-aniation-terminal;
}


@keyframes text-aniation-terminal {
  0% {color: rgba(0, 0, 0, 0)}
  50% {color: #c3d2cd}
  100% {color: rgba(0, 0, 0, 0)}
}



.--span-gray {
  color: gray;
}

.--span-white {
  color: white;
}
.--span-B3D4FC {
  color: #B3D4FC;
}
.--span-009DFFFF {
  color: #009DFFFF;
}

.--span-58AAC2 {
  color: #58aac2;
}
.txt-center {text-align: center}
.txt-left {text-align: left}
.txt-wrapping {text-wrap: auto}

.txt-large {font-size: 30px}
.txt-small {font-size: 15px}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

